/* CSS for the Animal Reveal Interface */
html{
    background-color: #8d99ae;
    font-family: 'Arial', sans-serif;
}

/* Style for the body section */
body{
    text-align: center;
}

/* Style for the animal buttons section */
.animal_btns{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

#btn1.clicked, #btn2.clicked, #btn3.clicked{
    background-color: rgb(123, 255, 29);
    border-radius: 15px;
}

/* Style for the animal reveal buttons */
.animal_reveal{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.animal_reveal img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
}

.animal_reveal button{
    display: block;
    width: 250px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 5px;
    background-color: rgb(48, 124, 255);
}

/* Style for the animal cards */
.animal_card{
    width: 250px;
    height: 305px;
}

/* Style for the bottom bar with reset button and animal count */
.bottom_bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.bottom_bar .reset{
    border-radius: 15px;
    cursor: pointer;
}

.bottom_bar p{
    margin: 0;
    font-size: 16px;
}